<script>
    //insert data code
    $("#btnsave").click(function(){
        //console.log("Save Button Clicked");
        output = "";
        let sid = $("#stuid").val();
        let nm = $("#nameid").val();
        let em = $("#emailid").val();
        let cy = $("#cityid").val();
        let csr= $("input[name=csrfmiddlewaretoken").val();
        if(nm == ""){
            console.log("please Enter Name")
        } else if(em == ""){
            console.log("please Enter Email")
        } else if(cy == ""){
            console.log("please Enter City")
        } else{
            //console.log(nm);
            //console.log(em);
            //console.log(cy);
            mydata={
                stuid:sid,
                name:nm, 
                email:em, 
                city:cy,
                csrfmiddlewaretoken:csr,
            };
            $.ajax({
                url:"{% url 'save' %}",
                method: 'POST',
                data: mydata,
                success:function (data){
                    //console.log(data);
                    x = data.student_data;
                    if(data.status == 'Save'){
                        $('#msg').text("Form submitted successfully")
                        $("#msg").show();
                        //console.log(x);
                        for (i=0; i < x.length; i++){

                            output +=
                            "<tr><td>" +
                            x[i].id +
                            "</td><td>" + 
                            x[i].name + 
                            "</td><td>" +
                            x[i].email + 
                            "</td><td>" +
                            x[i].city +
                            "</td><td> <input type='button' class='btn btn-warning btn-sm btn-edit' value='Edit' data-sid=" + 
                            x[i].id+
                            "> <input type='button' class='btn btn-danger btn-sm btn-del' value='Delete' data-sid=" + 
                            x[i].id+ ">";

                        }
                        $("#tbody").html(output);
                        $("#stuid").val("");
                        $("form")[0].reset();
                    }
                    if(data.status == 0){
                        $('#msg').text("Unable to submit form")
                        $("#msg").show();
                        $("#stuid").val("");
                        $("form")[0].reset();

                    }
                },
            });
        }
    });

    // delete data
    $("tbody").on("click",".btn-del",function(){
        //console.log("Delete button clicked");
        let id =$(this).attr("data-sid");
        let csr =$("input[name=csrfmiddlewaretoken").val();
        //console.log(id);
        mydata = {sid:id, csrfmiddlewaretoken:csr};
        mythis = this;
        $.ajax({
            url:"{% url 'delete' %}",
            method: "POST",
            data: mydata,
            success: function(data){
                //console.log(data);
                if(data.status == 1){
                    $('#msg').text("DATA Deleted Successfully")
                    $("#msg").show();                    
                    $(mythis).closest("tr").fadeOut();
                }
                if(data.status == 0){
                    $('#msg').text("Unable to Deleted DATA")
                    $("#msg").show(); 
                    
                }
            },
        });
    });

    //Editing data
    $("tbody").on("click",".btn-edit",function(){
        //console.log("Edit button clicked");
        let id = $(this).attr("data-sid");
        let csr = $("input[name=csrfmiddlewaretoken").val();
        //console.log(id);
        mydata = {sid:id, csrfmiddlewaretoken:csr};
        $.ajax({
            url:"{% url 'edit' %}",
            method: "POST",
            data: mydata,
            dataType:"json",
            success: function(data){
                //console.log(data);
                $("#stuid").val(data.id); 
                $("#nameid").val(data.name);
                $("#emailid").val(data.email);
                $("#cityid").val(data.city);                              
            },
        });
    });


   
            
</script>